html {
  font-size: 10px;
  font-family: sans-serif;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

h1 {
  font-family: 'billabong';
  color: red;
  text-align: center;
  font-size: 13rem;
  font-weight: 100;
  margin: 2rem 0;
  letter-spacing: -2px;
}

/* Styles for Photowall title link/anchor tag */
h1 a {
  color: red;
  text-decoration: none;
}

@font-face {
  font-family: 'billabong';
  src: url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.eot?#iefix") format('embedded-opentype'), url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.woff") format('woff'), url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.ttf") format('truetype'), url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.svg#billabongregular") format('svg');
}

.photo-grid {
  max-width: 1000px;
  margin: 0px auto; /* Centering the Component photo figures */
  display: flex; /* Diplay all element as flex items equal shape */
  flex-wrap: wrap; /* All of the flex items inside of the container can break lines if needed */
}

.figure {
  flex-basis: calc(33.333% - 4rem);
  border: 1px solid #d3d3d3;
  padding: 2rem;
  flex-grow: 1; /* All elements on the row will share the same width and equal grid space, and extra whole space for other container */
  margin: 0 2rem 2rem 2rem;
}

.photo {
  width: calc(100% + 4rem);
  margin: -2rem 0rem 0rem -2rem;
}

.button-container {
  display: flex;
  justify-content: center;
}

.remove-button {
  flex-basis: 48%;
  color: red;
  font-size: 15px;
  border: 2px solid #f2f2f2;
  line-height: 2;
  padding: 5px;
}

/* Styles for Add button on Photowall page */
.add-icon {
  margin: 20px auto; /* Center the button */
  display: table; /* Center the button */
  padding: 40px;
  background: url("https://image.flaticon.com/icons/svg/60/60740.svg") center no-repeat;
  background-size: contain; /* Scale the image to the extent of button as much as possible without cropping or stretching */
  border: none;
}

/* Styles for AddPhoto form page */
.form {
  /* background: rgb(106, 205, 223); */
  background: white;
  margin: 0 auto; /* Center the form and inputs */
  max-width: 360px;
  padding: 45px; /* Center the input box */
  text-align: center;
}

.form input {
  font-family: sans-serif;
  background: #f2f2f2;
  width: 100%;
  border: none;
  padding: 15px;
  box-sizing: border-box; /* Maintain the width size of the input box in container */
  font-size: 14px;
  margin: 0 0 15px;
}

.form button {
  flex-basis: 48%;
  color: red;
  font-size: 15px;
  border: 2px solid #f2f2f2;
  line-height: 2;
  padding: 5px;

  font-family: sans-serif;
  text-transform: uppercase;
  background: #065784;
  width: 100%;
  border: none;
  padding: 15px;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.form button:hover {
  background: #7b8589;
}

button:hover {
  border-color: blue;
}

/* Styles for comment feature in Photowall page */